@import "variables";
@import "functions";
@import "pages/home";
@import "pages/gallery";
@import "pages/recipe-detail";
@import "card";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    --bs-navbar-padding-x: 10px !important;
}

footer, main {
	padding: 10px;
}